@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "scss/window1";
@import "scss/patientScreen";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #3D5656;
    max-width: 2000px;
    margin: 0 auto;
    overflow-x: hidden;
}